@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root {
    /* Paleta de colores */
    --primary-color: #126298; /* Celeste */
    --secondary-color: #0d466d; /* Celeste oscuro */
    --background-main: #d9d9d9; /* Gris claro */
    --primary-text-color: white;
    --secondary-text-color: black;

    /* Tipografía */
    --font-family: 'Roboto', sans-serif;
    --font-size-title: 16px;
    --font-size-subtitle: 14px;
    --font-size-text: 12px;
}