/*
 * footer.css
 *
 * Estilos para el componente de pie de página (Footer) de la aplicación Catalogo-PegaYa.
 *
 * - .footer: Contenedor principal del footer, usa Flexbox para organizar el contenido en columna y centrarlo.
 * - .contactoDev: Contiene la información del desarrollador y el año. Los párrafos tienen un margen reducido.
 * - .redesContacto: Contiene los enlaces a redes sociales y portfolio, con espacio entre los íconos.
 *
 * Notas:
 * - Usa variables CSS para colores.
 */

.footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--color-celeste-muy-oscuro);
    color: var(--primary-text-color);
    text-align: center;
    padding: 20px;
}

.contactoDev p {
    margin: 2px;
}

.redesContacto a {
    margin: 5px;
}