.footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--color-celeste-muy-oscuro);
    color: var(--primary-text-color);
    text-align: center;
    padding: 20px;
}

.contactoDev{
    p{
        margin: 2px;
    }
}
.redesContacto{
    a{
        margin: 5px;
    }
}