.section-categorias {
    background-color: var(--color-celeste);
    padding: 20px;
    border-radius: 8px;
    color: var(--primary-text-color);
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
}

.categoria-item {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.selected {
    background-color: #ffde59;
    padding: 3px 10px;
    border-radius: 15px;
    color: var(--text-color-negro);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}